<h1>About</h1>

<p>
	Snap Show Magic is the ultimate table camera experience.
	You get high quality table camera pictures of your event, a real-time slide show of the pictures taken at your event during your event, and a DVD collection at the end of your event containing all of the pictures taken with the Snap Show Magic cameras.
</p>

<p>
	Snap Show Magic is the brainchild of Randy Connelie.
	Randy was in the midst of planning his own wedding and was frustrated at the limited options and low quality of the available table cameras.
	Using digital point-and-shoot cameras as the table cameras seemed to be the answer: each camera could take hundreds of pictures, guests could review their photos on the camera’s view screen, and he didn’t have to deal with traditional photo processing.
</p>

<p>
	But Randy didn’t stop there – by combining modified digital cameras with custom software, he developed a way to wirelessly transmit the digital photos into a live slide show.
	After many hours of coding Snap Show Magic was born.
</p>

<p>
	The first test run of Snap Show Magic was at Randy’s own wedding.
	The reaction of the guests was overwhelmingly positive, and this solidified the idea that Snap Show Magic was truly a service that was needed in the table camera industry.
</p>
