<h1>Table cameras for this century</h1>

<p>
	Camera technology has come a long way since the modern disposable camera was introduced in 1986.<br>
	Despite these advances, traditional table cameras have barely evolved over the past 30 years.
</p>

<p>
	That's where we come in!<br>
	We provide high-quality digital point-and-shoot table cameras for your guests to use during your event.
</p>

<p>
	And because the cameras are digital, we can do lots of fun things that aren't possible with traditional table cameras.<br>
	&mdash; Give you all the pictures, from all our cameras, that day!<br>
	&mdash; Wireless transmit the pictures to a live slideshow during your event!<br>
	&mdash; Make it easy for your guests to get the pictures after your event!
</p>

<p>
	A quickie comparison:
</p>

<table>
	<thead>
		<tr>
			<th></th>
			<th>traditional table camera</th>
			<th>Snap Show Magic camera</th>
		</tr>
	</thead>
	<tbody>
		<tr class="odd">
			<th># of pictures</th>
			<td>about 20</td>
			<td>over 500</td>
		</tr>
		<tr class="even">
			<th>autofocus</th>
			<td>no</td>
			<td>yes</td>
		</tr>
		<tr class="odd">
			<th>built-in flash</th>
			<td>sometimes (at extra cost)</td>
			<td>always</td>
		</tr>
<%- if false -%>
		<tr>
			<th>LCD screen<br>to review photos</th>
			<td>no</td>
			<td>yes</td>
		</tr>
<%- end -%>
		<tr class="even">
			<th>live slideshow</th>
			<td>not a chance</td>
			<td>standard</td>
		</tr>
		<tr class="odd">
			<th>getting your pictures</th>
			<td>
				Sometime after your event:<br>
				<ul>
					<li>go to 1-hour photo</li>
					<li>wait 1 hour (or more)</li>
					<li>
						pay $$<br>
						<em>(and throw away all the blank pictures)</em>
					</li>
				</ul>
			</td>
			<td>
				During your event:<br>
				<ul>
					<li>have fun</li>
					<li>mingle with your guests</li>
					<li>
						receive a disk with all the pictures<br>
						<em>(you get all your pictures, then and there!)</em>
					</li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>
