<h1>Contact Us</h1>

<p>
	Got questions about availability, pricing, or just want to know more?<br>
	Give us a call or send an email &mdash; we'll get back to you as soon as possible!
</p>

<table class="contact">
	<tbody>
		<tr>
			<th>Email</th>
			<td><a href="mailto:SnapShowMagic@gmail.com?subject=Snap Show Magic">SnapShowMagic@gmail.com</a></td>
		</tr>
		<tr>
			<th>Phone</th>
			<td>714.401.2511</td>
		</tr>
	</tbody>
</table>

<table class="servicearea">
	<tbody>
		<tr>
			<td>
				<p>
					We're based out of Norco, California, which is near the Orange/Riverside county border in Southern California.
				</p>
				<p>
					Our normal service area is about 100 miles.<br>
					That covers San Diego to Barstow, Thousand Oaks to Indio!<br>
				</p>
			</td>
			<td>
				<div id="service-area-map-canvas"></div>
			</td>
		</tr>
	</tbody>
</table>

<%= javascript_tag do -%>
      function initialize() {
        var mapOptions = {
          center: { lat: 33.931, lng: -117.5},
          zoom: 7
        };
        var map = new google.maps.Map(document.getElementById('service-area-map-canvas'),
            mapOptions);

					// radius is measured in meters; ~1609m/mile
				 var serviceAreaOptions = {
						strokeColor: '#0000FF',
						strokeOpacity: 0.8,
						strokeWeight: 2,
						fillColor: '#0000FF',
						fillOpacity: 0.35,
						map: map,
						center: { lat: 33.931, lng: -117.549},
						radius: (1609 * 90)
					};
					// Add the circle for this city to the map.
					serviceAreaCircle = new google.maps.Circle(serviceAreaOptions);

      }
      google.maps.event.addDomListener(window, 'load', initialize);

<%- end -%>