<h1>Contact Us</h1>

<p>
	
</p>

<table class="contact">
	<tbody>
		<tr>
			<th>Email</th>
			<td><a href="mailto:SnapShowMagic@gmail.com?subject=Snap Show Magic">SnapShowMagic@gmail.com</a></td>
		</tr>
		<tr>
			<th>Phone</th>
			<td>714.401.2511</td>
		</tr>
	</tbody>
</table>