<h1>Frequently Asked Questions</h1>

<dl id="faq">
	<dt>
		What is Snap Show Magic?
	</dt>
	<dd>
		Snap Show Magic is an integrated table camera and slide show service.
		Snap Show Magic provides specially enhanced table cameras for your event.
		As your guests take pictures the photos are transmitted to a computer running proprietary slideshow software.
		The photos are inserted into the slideshow in real-time allowing your guests to enjoy viewing the photos that they are taking at your event.
		At the end of your event you get a disk with all of the photos taken with the Snap Show Magic cameras.
	</dd>

	<dt>
		What kind of table cameras does Snap Show Magic provide?
	</dt>
	<dd>
		The cameras are high quality digital point-and-shoot cameras.
		Our current cameras are a mix of Canon A590s (8MP) and Canon A1300 (16MP) cameras.
		The cameras are upgraded periodically as technology progresses.
	</dd>

	<dt>
		What makes the table cameras that Snap Show Magic provides “specially enhanced?”
	</dt>
	<dd>
		 “Specially enhanced” means that the cameras are equipped with wireless transmission capabilities.
		 This allows the cameras to wirelessly transfer the photos to the computer running the slideshow software.
	</dd>

	<dt>
		How many photos can each camera take?
	</dt>
	<dd>
		Each camera is equipped with at least a 2GB SD card.
		Currently that means each camera can hold approximately 500+ photos.
	</dd>

	<dt>
		Can the cameras shoot movies?
	</dt>
	<dd>
		Yes, but movies won’t transfer wirelessly.
		Additionally, the slideshow software currently does not support movie files.
		Feel free to shoot movies though as they will be included on the DVD at the end of the event.
	</dd>

	<dt>
		Will all of the photos fit on one DVD?
	</dt>
	<dd>
		It depends upon how many photos your guests take at your event.
		10 cameras with 2GB of memory each equals potentially 20GB of photos.
		Snap Show Magic will provide enough DVDs for all of the photos taken with the Snap Show Magic cameras.
		Currently this means up to 5 DVDs.
		Most events produce between 800-1000 photos (about 4GB), which usually fits on one DVD.
	</dd>

	<dt>
		What locations does Snap Show Magic service?
	</dt>
	<dd>
		Snap Show Magic mainly services Southern California.
		We’re based in the Inland Empire and closest to Orange, Riverside, San Bernadino, and Los Angeles counties.
		We can provide services to other areas though.
		Please feel free to contact us.
	</dd>

	<dt>
		
	</dt>
	<dd>
		
	</dd>

	<dt>
		
	</dt>
	<dd>
		
	</dd>

	<dt>
		
	</dt>
	<dd>
		
	</dd>

	<dt>
		
	</dt>
	<dd>
		
	</dd>

	<dt>
		
	</dt>
	<dd>
		
	</dd>

	<dt>
		
	</dt>
	<dd>
		
	</dd>

	<dt>
		
	</dt>
	<dd>
		
	</dd>

	<dt>
		
	</dt>
	<dd>
		
	</dd>

	<dt>
		
	</dt>
	<dd>
		
	</dd>

	<dt>
		
	</dt>
	<dd>
		
	</dd>

	<dt>
		
	</dt>
	<dd>
		
	</dd>

	<dt>
		
	</dt>
	<dd>
		
	</dd>

	<dt>
		
	</dt>
	<dd>
		
	</dd>

	<dt>
		
	</dt>
	<dd>
		
	</dd>

</dl>
