<h1>Table cameras for this century</h1>

<p>
	Your event.
	Your guests.
	Everyone's memories.
</p>

<p>
	Camera technology has come a long way since the modern disposable table camera was introduced in 1986.<br>
	Despite these advances, disposable table cameras have barely evolved over the past 30 years.
</p>

<p>
	That's where we come in!
	We provide high-quality digital point-and-shoot table cameras for your guests to use during your event.
</p>

<p>
	A quick comparison:
</p>

<table>
	<thead>
		<tr>
			<th></th>
			<th>disposable</th>
			<th>Snap Show Magic</th>
		</tr>
	<thead>
	<tbody>
		<tr>
			<th># of pictures</th>
			<td>about 20</td>
			<td>over 500</td>
		</tr>
		<tr>
			<th>autofocus</th>
			<td>no</td>
			<td>yes</td>
		</tr>
	</tbody>
		<tr>
			<th>built-in flash</th>
			<td>sometimes<br>(at extra cost)</td>
			<td>always</td>
		</tr>
		<tr>
			<th>LCD screen<br>to review photos</th>
			<td>no</td>
			<td>yes</td>
		</tr>
		<tr>
			<th>development process</th>
			<td>
				Sometime after the event:<br>
				<ul>
					<li>go to 1-hour photo</li>
					<li>wait 1 hour (or more)</li>
					<li>
						pay $$<br>
						<em>(and throw away all the blank pictures)</em>
					</li>
				</ul>
			</td>
			<td>
				During the event:<br>
				<ul>
					<li>have fun</li>
					<li>mingle with your guests</li>
					<li>
						receive a disk with all the pictures<br>
						<em>(you get all your pictures, then and there)</em>
					</li>
			</td>
		</tr>
</table>