body {
	margin: 0;
	padding: 0;
	font-family: Exo2, 'Trebuchet MS', Helvetica, sans-serif;
}

#head, #foot {
	background-color: black;
	color: white;
	padding: 1em;

	.banner {
		margin: 0 0 1em 0;

		.image {
			background-color: white;
			position: relative;
			left: 13%;
		}

		.text {
			display: inline-block;
			position: relative;
			left: 14%;
			font-size: 1.6em;
			vertical-align: top;
		}
	}

	.menu {
		text-align: center;
		width: 100%;

		a {
			padding: .5em 1em;
			text-decoration: none;
			color: white;

			&:visited, &:hover {
				color: inherit;
			}
		}
	}
}

#body {
	background-color: white;
	color: black;

	h1 {
		font-weight: bold;
	}

	table {
		border-collapse: collapse;
		margin: 0 0 0 2em;

		thead {
			th {
				border: .1em solid #CCCCCC;
			}
		}

		tbody {
			vertical-align: top;

			tr {
				&.odd {
					background-color: #FFFFFF;
				}

				&.even {
					background-color: #FAFAFA;
				}

				th, td {
					border: .1em solid #CCCCCC;
					padding: .5em 1em;
				}

				th {
				}

				td {
					ul {
						margin: 0;
						padding: 0 0 0 1em;

						li {
						}
					}
				}
			}
		}
	}
}

.container {
	width: 60em;
	margin: auto;
	position: relative;
}