<h1>Frequently Asked Questions</h1>

<dl id="faq">
	<dt>
		What is Snap Show Magic?
	</dt>
	<dd>
		Snap Show Magic is an integrated table camera and slideshow service.<br>
		Snap Show Magic provides specially enhanced table cameras for your event.<br>
		Pictures taken with our special cameras are wirelessly inserted into the slideshow in real-time, allowing all your guests to enjoy the photos they are taking.<br>
		At the end of your event, we give you a disk with all of the photos taken with the Snap Show Magic cameras.
	</dd>

	<dt>
		What kind of table cameras does Snap Show Magic provide?
	</dt>
	<dd>
		The cameras are high quality digital point-and-shoot cameras.<br>
		Our current cameras are a mix of Canon A1300 (16MP) and Canon ELPH 150 (20MP) cameras.<br>
		The cameras are upgraded periodically as technology progresses.
	</dd>

	<dt>
		What makes the table cameras that Snap Show Magic provides &ldquo;specially enhanced?&rdquo;
	</dt>
	<dd>
		 &ldquo;Specially enhanced&rdquo; means that we've added wireless functionality to the cameras.<br>
		 This enables the cameras to invisibly transfer the photos to the slideshow.
	</dd>

	<dt>
		How many photos can each camera take?
	</dt>
	<dd>
		Over 500 high-resolution photos!<br>
		And that's the low end &mdash; most Snap Show Magic cameras can take more!
	</dd>

	<dt>
		Can the cameras shoot movies?
	</dt>
	<dd>
		Yes, but we don't play the movies as part of the slideshow.<br>
		You'll still get the movies on the disk with the rest of the photos.
	</dd>

	<dt>
		What happens to all the pictures after the event?
	</dt>
	<dd>
		First and foremost, we give them to you!<br>
		At the end of your event, we:
		<ul>
			<li>&mdash; compile all the photos taken with the Snap Show Magic cameras</li>
			<li>&mdash; copy them to a disk</li>
			<li>&mdash; give the disk to you</li>
		</ul>
		Then we upload all the photos to the Snap Show Magic website so your guests can view and download them.
	</dd>

	<dt>
		What kind of disks do you use for the photos?
	</dt>
	<dd>
		We primarily use DVD's, specifically a DVD+R or DVD-R formatted as a data disk.<br>
		The DVD with all the photos is not a &ldquo;movie&rdquo; DVD; it is intended to be used with a computer to view/copy/print the photos.<br>
		(That said, some DVD players have the ability to read data disks and display their own slideshow on your TV -- we know a few clients who have done this.)<br>
		The DVD's are presented in a slimline DVD case with custom labeling.<br>
		<br>
		We also use USB flash drives, an optional upgrade from the DVD.<br>
		USB flash drives are easy to use with the digital photo printing systems available at many larger stores.<br>
		The USB flash drive can also be used with most modern TV's &mdash; plug the USB flash drive into the TV and it will display it's own slideshow with all the photos.
	</dd>

	<dt>
		Will all of the photos fit on one disk?
	</dt>
	<dd>
		It depends upon how many photos your guests take at your event.<br>
		Most events produce between 800-1000 photos (about 4.5GB), which usually fits on one DVD.<br>
		We always bring two disks, just in case we have to split the photos across multiple disks.<br>
		If everything fits onto one disk, we give you the second disk as a &ldquo;backup&rdquo; disk.<br>
	</dd>

	<dt id="test">
		What locations does Snap Show Magic service?
	</dt>
	<dd>
		<table class="servicearea">
			<tbody>
				<tr>
					<td>
						Snap Show Magic mainly services Southern California.<br>
						We’re based in the Inland Empire and closest to Orange, Riverside, San Bernardino, and Los Angeles counties.<br>
						We can provide services to other areas though.
						Please feel free to contact us.
					</td>
					<td class="map">
						<div id="service-area-map-canvas"></div>
						Approximate service area
						<%= javascript_tag do -%>
							google.maps.event.addDomListener(window, 'load', display_service_area_map(7));
						<%- end -%>
					</td>
				</tr>
			</tbody>
		</table>
	</dd>
</dl>


<%= javascript_tag do -%>
	$(document).ready(function() {
		var rArrow = '&#x25BA;';
		var dArrow = '&#x25BC;';
		$('dl#faq dd').hide();
		$('dl#faq dt').css('cursor', 'pointer');
		$('dl#faq dt').prepend('<span class="bullet">' + rArrow + '</span>');
		$('dl#faq dt').on('click', function(){
			var bullet = (!$(this).data('open') ? dArrow : rArrow);
			$(this).data('open', !$(this).data('open'));
			$(this).find('.bullet').html(bullet);

			var map = $(this).next('dd').find('td.map')[0];
			if(map === undefined) {
				$(this).next('dd').toggle({duration: 'fast'});
			} else {
				$(this).next('dd').toggle({duration: 'fast', complete: function(){if(!$(this).data('rendered')){display_service_area_map(7); $(this).data('rendered', true);}}});
			}
		});
		$('dl#faq dt').first().click();
	});
<%- end -%>
