<h1>Galleries</h1>

<dl class="galleries">
	<%- @galleries.each_with_index do |gallery, index| -%>
		<dt><%= link_to(raw([h(gallery.title), h(gallery.event_date.to_s)].join(' &mdash; ')), gallery_path(gallery)) -%></dt>
		<%- if index < 5 -%>
			<dd><em>Flash slideshow object</em></dd>
			<dd>View Slideshow</dd>
			<dd>View Gallery</dd>
		<%- end -%>
	<%- end -%>
</dl>